@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --font-fam: 'Roboto', sans-serif;
    --Font-size: 16px;
    --weight400: 400;
    --weight700: 700;
}

main {
    background-color: var(--Dark-Slate-Grey);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
    overflow-y: hidden;
    width: min(90%, 900px);
    border-radius: 1rem;
}

.cover {
    gap: 2rem;
    display: flex;
    width: 100%;
    background-color: var(--White);
    z-index: 5;
    transition: all 1s;
    padding: 1rem;
    border-radius: 1rem;
}

.cover_wrap {
    padding: 3rem 1rem;
    
    & h1 {
        font-family: var(--font-fam);
       line-height: 2;
       font-weight: var(--weight700);
    }

    & p {
        color: var(--Charcoal-Grey);
        font-size: var(--Font-size);
        font-family: var(--font-fam);
    }
}

.stay ~ p {
    line-height: 1.4;
    margin-bottom: 1rem;
}

.cover > div {
    flex-basis: 50%;
}

.subs > p {
    display: flex;
    align-items: center;
    line-height: 1.2;
    margin-bottom: .5rem;
    gap: .5rem;
}

.subs > p::before {
    content: url(assets/images/icon-list.svg);
}

.cover > div:nth-child(2) {
    background-image: url(assets/images/illustration-sign-up-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .75rem;
}

.success {
    width: min(90%, 400px);
    padding: 2rem;
    border-radius: .75rem;
    background-color: var(--White);
    position: absolute;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-align: left;
}

.error-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    .error-div__error {
        opacity: 0;
    }
}

.news-form {
    margin-top: 1rem;
}

label {
    font-size: 10px;
    color: var(--Charcoal-Grey);
    font-weight: var(--weight700);
    font-family: var(--font-fam);
    line-height: 2;
}

.mail {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: var(--Charcoal-Grey) 1px solid;
    margin-bottom: 1rem;
}

.mail:focus {
    outline: var(--Dark-Slate-Grey) 1px solid;
}

::placeholder {
    color: var(--Charcoal-Grey);
}

.btn {
    padding-block: 13px;
    width: 100%;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 400ms;

    &:hover {
        background-color: var(--Tomato);
        box-shadow: 0px 28px 25px -19px hsl(4, 100%, 67%);
    }
}

.success-header {
    font-family: var(--font-fam);
   line-height: 1;
   font-weight: var(--weight700);
   padding-block: 1rem;
}

.success-header ~ p {
    color: var(--Charcoal-Grey);
    font-size: var(--Font-size);
    font-family: var(--font-fam);
    line-height: 1.3;
    margin: .5rem 0rem 1rem 0rem;
}

@media screen and (max-width: 750px) {
    main {
        height: unset;
        padding-block: 2rem;
    }
    .cover {
        flex-direction: column;
    }

    .cover_wrap {
        order: 2;
    }

    .cover > div:nth-child(2) {
        min-height: 400px;
        order: 1;
    }
}

